<!DOCTYPE HTML>
<html>
    <head>
        <title>Admin</title>
        <link rel="stylesheet" href="/css/stylead.css">
    </head>

    <body>
        <div class="container">
          <h1>Login</h1>
          <form action="/adminin" method="post">
            <label>Username</label>\
            <br>
            <input type="text" required name="username">
            <label>Password</label>
            <br>
            <input type="password" required name="password">
                <a href="#"><button class="btn-ad">Login</button></a>
            </form>
        </div>
    </body>
</html>