<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fasilitas Kamar CheckIN</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/details2.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

</head>
<header>
    <div id="menu-bar" class="fas fa-bars"></div>
    <a href="index.ejs" class="logo"><span>Check</span>IN</a>

    <nav class="navbar">
        <a href="index.ejs">Home</a>
    </nav>

</header>

<body>
    <div class="container">
        <div class="content-slide">
            <div class="imgslide fade">
                <div class="numberslide"></div>
                <img src="images/deluxe1.jpg" alt="">
            </div>

            <div class="imgslide fade">
                <div class="numberslide"></div>
                <img src="images/deluxe2.jpg" alt="">
            </div>

            <div class="imgslide fade">
                <div class="numberslide"></div>
                <img src="images/deluxe3.jpg" alt="">
            </div>

            <div class="imgslide fade">
                <div class="numberslide"></div>
                <img src="images/deluxe4.jpg" alt="">
            </div>

            <div class="imgslide fade">
                <div class="numberslide"></div>
                <img src="images/deluxe5.jpg" alt="">
            </div>

            <div class="imgslide fade">
                <div class="numberslide"></div>
                <img src="images/deluxe6.jpg" alt="">
            </div>

            <a class="prev" onClick="nextslide(-1)">&#10094;</a>
            <a class="next" onClick="nextslide(1)">&#10095;</a> 
        </div>

        <div class="page">
            <span class="dot" onClick="dotslide(1)"></span>
            <span class="dot" onClick="dotslide(2)"></span>
            <span class="dot" onClick="dotslide(3)"></span>
            <span class="dot" onClick="dotslide(4)"></span>
            <span class="dot" onClick="dotslide(5)"></span>
            <span class="dot" onClick="dotslide(6)"></span>
        </div>
    </div>
    <div class="titfac" id="details1">
        <h3 class="section-tittle2">Deluxe Double Queen</h3>
        <div class="price"> Rp 1.500.000 </div>
    </div>
    <div class="room1">
        <ul>
          <li><i class='fas fa-snowflake'></i> AC</li>
          <li><i class='fas fa-check-circle'></i> Separate Air Conditioner</li>
          <li><i class='fas fa-prescription-bottle'></i> Bottled Mineral Water</li>
          <li><i class='fas fa-wifi'></i> Free Wifi Acces</li>
          <li><i class='fas fa-smoking'></i> Smoking Area</li>
        </ul>
      </div>
      <a href="book.ejs"><button class="btn-1">BOOK NOW</button></a>
</body>

    <script>
        var slideIndex = 1;
            showSlide(slideIndex);

        function nextslide(n){
            showSlide(slideIndex += n);
        }

        function dotslide(n){
            showSlide(slideIndex = n);
        }

        function showSlide(n) {
            var i;
            var slides = document.getElementsByClassName("imgslide");
            var dot = document.getElementsByClassName("dot");
            
            if (n > slides.length) {
                slideIndex = 1
            }
            if (n < 1) {
                slideIndex = slides.length;
            }
            for (i = 0; i < slides.length; i++) {
                
                slides[i].style.display = "none";
            }

            for (i = 0; i < slides.length; i++) {
                
                dot[i].className = dot[i].className.replace(" active", "");
            }

            slides[slideIndex - 1].style.display = "block";

            dot[slideIndex - 1].className += " active";
            


        }
    </script>



</html>